.dockerignore
.env
.git
.vs
.vscode
docker-compose.yml
docker-compose.*.yml
docker-compose.yaml
docker-compose.*.yaml
Dockerfile
*.Dockerfile
*.bak
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
*.db
